/*--------------------Variables------------*/
:root {
    --primary-color: #b7b7b7;
    --secundary-color: #ebecef;
    --color-blue: #1152CF;
    --color-red: rgb(197, 35, 35);
    --header-size: 4rem;
    --font: 1.8rem;
}

/* Estilos Generales*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    font-size: 15px;
}

#content {
    display: grid;
    grid-template-columns: 58% 42%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    height: 100vh;
}

.text-blue {
    color: var(--color-blue);
}

.text-green {
    color: #4BAF43;
}

.italic {
    font-style: italic;
}

/*Fin de Estilos generales*/
/*-------------------------------Estilos de cabecera -----------------------*/
header {
    grid-area: header;
    justify-self: center;

    margin-bottom: 5px;
}

/* ---------------------------Estilo pantalla principal --------------*/
.content-main {
    grid-area: main;
    border-top: 2px solid rgba(40, 40, 40, .5);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.transaccion {
    font-size: 13px;
    color: green;
    padding: 2px 10px;
}

.content-pantalla {
    display: flex;
    height: 380px;
    background-color: white;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 1px 0px 10px;
    border: 1px solid #999;
}

.pantalla {
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
}

.pantalla.active-transaction {
    border-top: 2px dashed black;
    margin-top: 15px;
    height: calc(100% - 15px);
}

/* Estilos de Ticket CSS Grid */
.item-row {
    display: grid;
    grid-template-columns: 35px 1fr 65px;
    align-items: center;
    font-size: 16px;
    margin-bottom: 2px;
    color: black;
}

.item-row.title-row {
    font-weight: bold;
    border-bottom: 1px dashed #999;
    margin-bottom: 5px;
    padding-bottom: 3px;
}

.item-descuento-escaneo {
    display: grid;
    grid-template-columns: 35px 1fr 65px;
    align-items: center;
    font-size: 16px;
    margin-bottom: 2px;
    color: #f73b3b;
}

.item-descuento-escaneo .item-index {
    text-align: right;
    padding-right: 15px;
}

.item-descuento-escaneo .item-name {
    text-align: right;
    padding-right: 10px;
}

.item-descuento-escaneo .item-price {
    text-align: right;
}

.item-index {
    text-align: right;
    padding-right: 15px;
}

.item-name {
    text-align: left;
}

.item-price {
    text-align: right;
}

/*-----------------------------Estilos de la parte de abajo------------------*/
.total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1px;
    border-bottom: 2px solid rgba(40, 40, 40, .2);
}

.pantalla-bottom {
    padding: 10px;
}

.busqueda-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plu-section {
    display: flex;
    flex-direction: column;
}

.peso-box {
    border: 1px solid #999;
    padding: 20px 40px;
    font-size: 14px;
    width: 150px;
    margin-right: 55px;
    color: black;
}

.info-text {
    margin-top: 5px;
}

.info-text p {
    margin: 2px 0;
    font-size: 15px;
}

p {
    font-size: 14px;
    font-family: Helvetica, Arial;
}

#totalPagar {
    font-size: 18px;
    color: var(--color-blue);
    text-align: end;
    border: none;
    background-color: white;
    padding: 5px;
    width: 220px;
    margin-left: 15px;
}

.total label {
    display: flex;
    align-items: center;
}

.total label .text {
    margin-right: 15px;
    font-size: 16px;
}

.PLU input {
    background-color: var(--color-blue);
    font-size: 18px;
    color: white;
    border: none;
    width: 240px;
    height: 22px;
    margin-top: 5px;
}

/*--------------------------------Estilos de la seccion lateral ---------------------*/

.aside {
    display: grid;
    grid-area: aside;
    grid-template-columns: auto auto;
    align-items: start;
    justify-items: Center;
    border-left: 2px solid rgba(40, 40, 40, .5);
    border-top: 2px solid rgba(40, 40, 40, .5);
    padding: 0px 0 0 0px;
}

.imgAside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-top: 25px;
}

.datos {
    margin-bottom: 10px;
    text-align: left;
}

.datos p {
    font-size: 15px;
}

.name {
    color: var(--color-blue);
}

#name {
    color: black;
    margin-top: 2px;
}

aside figure img {
    width: 290px;
    height: auto;
}

.aside-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    border-left: 2px solid rgba(40, 40, 40, .5);
}

.aside-menu li {
    color: black;
    display: flex;
    align-items: space-around;
    font-size: 14px;
}

.circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #d8d8d8;
    border-radius: 50%;
    margin-right: 8px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
}

/*----------------------------------------Estilos de footer-------------------------*/
.footer {
    grid-area: footer;
    border-top: 2px solid #999;
    padding: 0;
    background-color: var(--secundary-color);
}

.footer-ul {
    display: flex;
    align-items: stretch;
    padding: 0;
}

.footer-ul>li {
    list-style: none;
    font-size: 14px;
    color: black;
    border-right: 1px solid #a0a0a0;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-ul>li:nth-child(6) {
    flex-grow: 1;
    justify-content: flex-start;
}

.footer-ul>li:last-child {
    border-right: none;
}

/*----------------------------- LOGIN ----------------------------------------------*/

.login {
    position: absolute;
    right: 725px;
    top: 210px;
    width: 350px;
    height: 150px;
    background-color: var(--primary-color);
    text-align: center;
    box-shadow: 0px 0px 4px #333;
}

.login h1 {
    color: green;
    font-size: 15px;
    border-bottom: #292727 solid 1px;
    padding: 4px;
}

.form-login {
    padding-top: 20px;
}

.form-login label {
    font-size: 15px;
}

.form-login input[type="text"] {
    width: 70%;
    height: 20px;
    font-size: 15px;
    margin: 10px;
}

.form-login button,
.form-login input[type="submit"] {
    width: 80px;
    height: 30px;
    background-color: var(--primary-color);
    border-color: #a0a0a0;
}

/* ------------------- Pantalla Total & Resumen ------------- */
.header-desc {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.item-descuento {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: red;
    margin-bottom: 5px;
}
.item-descuento span {
    flex: 1;
    text-align: right;
}
.item-descuento span:first-child {
    text-align: left;
}

.resumen-pago {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fila-pago {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
}

.fila-pago span {
    margin-right: 15px;
    font-size: 16px;
}

.fila-pago input {
    width: 130px;
    text-align: right;
    font-size: 17px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.4);
    color: var(--color-blue);
}