/*--------------------Variables------------*/
:root {
    --primary-color: #b7b7b7;
    --secundary-color: #ebecef;
    --color-blue: rgb(46, 46, 217);
    --color-red: rgb(197, 35, 35);
    --header-size: 4rem;
    --font: 1.8rem;
}

/* Estilos Generales*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%; 
}

body{
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    font-size: 15px;
}

#content{
    display: grid;
    grid-template-columns: 55% 1fr 1fr;
    grid-template-rows: 1fr 80vh 5vh;
    grid-template-areas: 
    "header header header"
    "main aside aside"
    "footer footer footer";
}

/*Fin de Estilos generales*/
/*-------------------------------Estilos de cabecera -----------------------*/
header{
    grid-area: header;
    justify-self: center;

    margin-bottom: 5px;
}

/* ---------------------------Estilo pantalla principal --------------*/
.content-main{
    grid-area: main;
    border-top: 2px solid rgba(40, 40, 40,.5);
    margin: 5px;
}

.transaccion{
    font-size: 12px;
    color: green;
}

.content-pantalla{
    display: flex;
    height: 70%;
    background-color: var(--secundary-color);
    justify-content: center;
    align-items: center;
}

.pantalla{
    height: 95%;
    width: 95%;

    padding: 10px;
    border-top: black 2px dashed;
}

/*-----------------------------Estilos de la parte de abajo------------------*/
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.pantalla-bottom form label span{
    font-size: var(--font);
}

#totalPagar{
    font-size: 14px;
    text-align: end;
}

.PLU input{
    background-color: var(--color-blue);
    font-size: 14px;
    color: var(--secundary-color);
}

/*--------------------------------Estilos de la seccion lateral ---------------------*/

.aside{
    display: grid;
    grid-area: aside;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    border-left: 2px solid rgba(40, 40, 40,.5);
}

.imgAside{
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    height: 100%;
}

.datos{
    height: 70px;
    padding-top: 10px;
}

.datos p{
    font-size: 15px;
}
.name{
    color: var(--color-blue);
}
#name{
    color: black;
}

aside ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100%;
}

aside ul li{
    color: rgb(28, 28, 28);
}

/*----------------------------------------Estilos de footer-------------------------*/
.footer{
    grid-area: footer;
    border-top: 2px solid white;

    padding-top: 10px;
}

.footer-ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

ul > li{
    list-style: none;
    font-size: 18px;
    color: var(--font)
}

/*----------------------------- LOGIN ----------------------------------------------*/

.login{
    position: absolute;
    right: 725px;
    top: 210px;
    width: 350px;
    height: 150px;
    background-color: var(--primary-color);
    text-align: center;
}

.login h1{
    color: green;
    font-size: 15px;
    border-bottom: #292727 solid 1px;
    padding: 4px;
}
.form-login{
    padding-top: 20px;
}
.form-login label{
    font-size: 15px;
}

.form-login input[type="text"]{
    width: 70%;
    height: 20px;
    font-size: 15px;
    margin: 10px;
}

.form-login button, .form-login input[type="submit"]{
    width: 80px;
    height: 30px;
    background-color: var(--primary-color);
    border-color: #a0a0a0;
}